<ion-header>
    <ion-navbar color="primary">
        <!--<ion-buttons start left>
            <button secondary (click)="voltar()">
       <ion-icon name="arrow-back"></ion-icon>
    </button>
        </ion-buttons>-->
        <ion-title>Novo Convidado</ion-title>

        <ion-buttons end>
            <button  secondary (click)="salvarConvidado()">
             Salvar<ion-icon name="cloud-done"></ion-icon>
    </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>


    <form #novoConvidadoForm="ngForm" novalidate color="primary">

        <ion-item>
            <ion-label floating color="primary">Nome</ion-label>
            <ion-input [(ngModel)]='convidadoModel.nome' name='nome' type="text" #username='ngModel' spellcheck="false" autocapitalize="off"
                required>
            </ion-input>
        </ion-item>
    

        <ion-item>
            <ion-label floating color="primary">Telefone</ion-label>
            <ion-input [(ngModel)]='convidadoModel.telefone' name='telefone' type="tel" #username='ngModel' spellcheck="false" autocapitalize="off"
                required>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating color="primary">E-mail</ion-label>
            <ion-input [(ngModel)]='convidadoModel.email' name='email' type="email" #username='ngModel' spellcheck="false" autocapitalize="off"
                required>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating color="primary">Igreja</ion-label>
              <ion-input [(ngModel)]='convidadoModel.congregacao' name='congregacao' type="text" #igreja='ngModel' spellcheck="false" autocapitalize="off"
                required>
            </ion-input>
        </ion-item>


  <!--<ion-item>-->
      <button ion-button full  color="primary"  (click)="addLocalizacao()">
        <ion-icon name="locate"></ion-icon>
        Localização
      </button>
      
    <!--</ion-item>-->

    <!--<ion-card *ngIf="convidadoModel.endereco.rua != undefined && convidadoModel.endereco.rua != null">
            <ion-card-content>
                      <ion-label  color="primary">Rua: {{convidadoModel.endereco.rua}}</ion-label>
                      <ion-label  color="primary">Cidade: {{convidadoModel.endereco.cidade}}</ion-label>
                      <ion-label  color="primary">Estado: {{convidadoModel.endereco.estado}}</ion-label>
            </ion-card-content>
    </ion-card>-->

    <ion-item *ngIf="convidadoModel.endereco.rua != undefined && convidadoModel.endereco.rua != null">
            <ion-label floating color="primary" >Rua</ion-label>
            <ion-input [(ngModel)]='convidadoModel.endereco.rua' name='rua' type="text" #rua='ngModel' spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
      </ion-item>
       <ion-item *ngIf="convidadoModel.endereco.cidade != undefined && convidadoModel.endereco.cidade != null">
            <ion-label floating color="primary" >Cidade</ion-label>
            <ion-input [(ngModel)]='convidadoModel.endereco.cidade' name='cidade' type="text" #cidade='ngModel' spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
      </ion-item>

       <ion-item *ngIf="convidadoModel.endereco.estado != undefined && convidadoModel.endereco.estado != null">
            <ion-label floating color="primary" >Estado</ion-label>
            <ion-input [(ngModel)]='convidadoModel.endereco.estado' name='estado' type="text" #estado='ngModel' spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
      </ion-item>

       <ion-item *ngIf="convidadoModel.endereco.rua != undefined && convidadoModel.endereco.rua != null">
            <ion-label floating color="primary" >Número</ion-label>
            <ion-input [(ngModel)]='convidadoModel.endereco.numero' name='numero' type="number" #numero='ngModel' spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
      </ion-item>

       <ion-item *ngIf="convidadoModel.endereco.rua != undefined && convidadoModel.endereco.rua != null">
            <ion-label floating color="primary" >Complemento</ion-label>
            <ion-input [(ngModel)]='convidadoModel.endereco.complemento' name='complemento' type="text" #complemento='ngModel' spellcheck="false" autocapitalize="off"
              >
            </ion-input>
      </ion-item>


      <button ion-button full  color="primary"  (click)="abrirGaleria()"> <!--takePicture()-->
        <ion-icon name="camera"></ion-icon>
        Câmera
      </button>

    <ion-card *ngIf="base64Image">
         <ion-card-content>
                <img [src]="base64ImageTela" *ngIf="base64Image" />
         </ion-card-content>
    </ion-card>

         <button ion-button full  type='submit'  color="primary"  (click)="salvarConvidado()"> <!--takePicture()-->
            <ion-icon name="save"></ion-icon>
            Salvar
          </button>

        <p [hidden]="username.valid || submitted == false" danger padding-left>
            Username is required
        </p>


    </form>
</ion-content>