.col{
border: 1px solid black;
}
.item-text-center-vertical {
  line-height: 300%;
}

.grid-sem-bordas {
  border: 0px;
}


.home-container {
     display: -webkit-flex;
    border: 0px solid transparent;
     -webkit-flex-direction: column;
     height: 100%;
      -webkit-border-image:  0 round; /* Safari 3.1-5 */
    -o-border-image:  0 round; /* Opera 11-12.1 */
    border-image:  0 round;
}
.home-container > .row {
     -webkit-flex: 1;
     border: 0px solid transparent;
   -webkit-border-image:  0 round; /* Safari 3.1-5 */
    -o-border-image:  0 round; /* Opera 11-12.1 */
    border-image:  0 round;
}

.header {
     -webkit-flex: 1.5 !important;
     -webkit-align-items: center;
     
}
 
.icon-row {
     -webkit-align-items: center;
}